.nav-btns-cont .nav-btn:nth-child(1){
    background-color: #fff !important;
    color: #000 !important;
}
.nav-btns-cont .nav-btn:nth-child(1):hover{
    background-color: #000 !important;
    color: #fff !important;
}
.nav-btns-cont .nav-btn:nth-child(4){
    background-color: #000;
    color: #fff;
}


.panel-right{
    height: 80vh;
    width: 100%;
    background-color: #fff;
    border-radius: var(--panelRadius);
    padding: var(--panelGap);
    display: grid;
    gap: var(--panelGap);
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(auto,1fr);
    overflow-y: scroll;
    scrollbar-width: thin;
}
.add-notice-btn-cont{
    border-radius: var(--panelRadius);
    background-color: rgb(221, 221, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37vh;
}
.add-notice-btn{
    font-size: 3em;
    height: 25vh;
    width: 25vh;
    border-radius: 50%;
    border: none;
    background-color: #eee;
    color: #818181;
    cursor: pointer;
}
.fa-plus{
    transform: translateX(20%);
}
.add-notice-btn:active{
    background-color: #fff;
}
.notice-board{
    height: 37vh;
    width: auto;
    border-radius: var(--panelRadius);
    display: grid;
    grid-template-rows: 2fr 5fr 2fr;
}
.notice-title,.notice-desc,.notice-btn{
    outline: none;
    border: none;
    text-align: center;
}
.notice-title{
    border-radius: 2vh 2vh 0vh 0vh;
    padding: 2vh;
    font-weight: 500;
    background-color: rgb(251, 255, 196);
    border-bottom: 1px dashed #444;
    text-transform: uppercase;
}
.notice-desc{
    font-size: .8em;
    padding: 2vh;
    background-color: rgb(251, 255, 196);
}
.notice-btn-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(233,233,233);
    border-radius: 0vh 0vh 2vh 2vh;
}
.notice-btn{
    color: rgb(44, 212, 11);
    height: 6vh;
    width: 6vh;
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
    font-size: 1.05em;
}
.notice-btn:active{
    color: #fff;
    background-color: rgb(44, 212, 11);
}
.fa-paper-plane{
    transform: translateX(30%);
}


@media(max-width:820px){
    .panel-right{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width:672px){
    .panel-right{
        grid-template-columns: 1fr;
    }
}