

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Login Section */
.wrapper{
    height: 88vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 2vh;
    box-shadow: 0px 0px 5px rgb(180, 180, 180);
}
.form-container{
    height: 70vh;
    width: 40vw;
    background-color: rgb(238, 246, 253);
    border-radius: 2vh 0vh 0vh 2vh;
    padding: 2vh;
}
.login-text{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 4vh;
    font-size: 1.5em;
    font-weight: 600;
    color: var(--primThemeColor);
}
.login-input-cont{
    height: fit-content;
    width: 100%;
    padding: 2vh;
    display: grid;
    gap: 2vh;
    grid-template-rows: repeat(2,1fr);
}
input{
    height: 6vh;
    padding-left: 2vh;
    border: none;
    border-radius: 1vh;
    box-shadow: 0px 0px 2px 0px black;
}
input:focus{
    outline: none;
}
.forgot-pw-cont{
    width: 100%;
    font-size: .7em;
    text-align: center;
    margin-top: 4vh;
}
.forgot-text{
    color: royalblue;
    font-weight: 600;
    text-decoration: underline;
}
.forgot-text:hover{
    color: var(--secThemeColor);
    transition: var(--transition);
}
.login-btn-cont{
    padding: 4vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}
.login-btn{
    width: 100%;
    padding: 2vh;
    border: none;
    border-radius: 2vh;
    background-color: royalblue;
    color: var(--textColor);
    font-weight: 600;
    cursor: pointer;
}
.login-btn:hover{
    background-color: var(--secThemeColor);
    transition: var(--transition);
}
.signup-cont{
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-left{
    color: var(--primThemeColor);
    font-size: .7em;
}
.text-right{
    color: royalblue;
    font-size: .8em;
    font-weight: 600;
    text-decoration: underline;
}
.text-right:hover{
    color: var(--secThemeColor);
    transition: var(--transition);
    cursor: pointer;
}
.poster-container{
    height: 70vh;
    width: 40vw;
    background-image: url('college_vector.png');
    background-size: 100% 100%;
    background-position: center;
    border-radius: 0vh 2vh 2vh 0vh;
    position: relative;
}
.kantipur-text-cont{
    padding-left: 2vh;
    padding-top: 4vh;
    font-size: 2.5em;
    font-weight: 100;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
}
.slogan-cont{
    padding-left: 2vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 200;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
}
/* Login Signup Toggle */
.signup-slider{
    height: 70vh;
    width: 40vw;
    background-color: rgb(230, 230, 230);
    border-radius: 2vh 0vh 0vh 2vh;
    padding: 3vh;
    position: absolute;
    right: 50vw;
    display: none;
}
.signup-text{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 4vh;
    font-size: 1.5em;
    font-weight: 600;
    color: var(--primThemeColor); 
}
.signup-input-cont{
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3,1r);
    padding: 2vh;
    gap: 4vh;
}
.create-acc-cont{
    margin-top: 4vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
}
.create-acc-btn{
    padding: 2vh;
    width: 100%;
    border: none;
    background-color: royalblue;
    color: var(--textColor);
    border-radius: 2vh;
    cursor: pointer;
    font-weight: 500;
}
.create-acc-btn:hover{
    background-color: var(--secThemeColor);
    transition: var(--transition);
}
.already-text-cont{
    margin-top: 3vh;
    padding: 1vh;
    font-size: .7em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-link{
    font-size: 1.1em;
    font-weight: 600;
    text-decoration: underline;
    color: royalblue;
    cursor: pointer;
}
.login-link:hover{
    color: var(--secThemeColor);
    transition: var(--transition);
}


/* Form Responsiveness */

@media (max-width:992px){
    .poster-container{
      display: none;  
    }
    .container,.form-container,.signup-slider{
        width: 80vw;
    }
    .signup-slider{
        left: 10vw;
        border-radius: 2vh;
    }
}

