
/* Poster */
.advert-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-college-text{
    width: 100%;
}
.about-text,.college-text,.about-paragraph{
    padding-left: 6vh;
    color: var(--textColor);
}
.about-text{
    font-weight: 700;
   font-size: 3em;
}
.college-text{
    font-weight: 300;
    font-size: 2em;
}
.about-paragraph{
    padding: 6vh;
    text-align: justify;
    font-size: .85em;
    font-weight: 300;
}
/* Welome section */
.welcome-wrapper{
    height: 100vh;
    width: 100%;
    background-color: rgb(233, 233, 233);
    padding-top: 10vh;
}
.welcome-title-cont{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(70, 70, 70);
}
.welcome-text{
    font-size: 3em;
    font-weight: 600;
}
.college-name{
    font-size: 1.75em;
    font-weight: 300;
}
.welcome-paragraph-cont{
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome-paragraph{
    width: 60%;
    text-align: justify;
    color: rgb(48, 48, 48);
}
/* Welcome section responsive */
@media(max-width:992px){
    .about-text{
        font-size: 2.5em;
        font-weight: 600;
    }
    .college-text{
        font-size: 1.25em;
    }
    .about-paragraph{
        font-size: .8em;
        padding: 1vh 2vh;
    }
    .banner-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width:768px){
    .welcome-paragraph{
        width: 70%;
        font-size: .85em;
    }
    .about-paragraph{
        font-size: .6em;
    }
    .wrapper{
        width: 90%;
    }
}
@media (max-width:576px){
    .welcome-wrapper{
        padding-top: 8vh;
    }
    .welcome-text{
        font-size: 2.25em;
    }
    .college-name{
        font-size: 1.25em;
    }
    .college-text{
        font-size: 1em;
    }
    .about-paragraph{
        text-align: justify;
        font-size: .5em;
    }
    .about-text{
        font-size: 1.75em;
    }
}

/* Why us section */
.why-kantipur{
    width: 100%;
    height: fit-content;
    background-color: rgb(250, 250, 250);
}
.why-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 6vh;
}
.why-qsn{
    font-size: 3em;
    font-weight: 500;
    color: var(--secThemeColor);
}
.why-ans{
    color: #4e4e4e;
    width: 60%;
    text-align: justify;
}
.why-ans,.why-qsn{
    padding: 2vh;
}
.why-item{
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(250, 250, 250);
}
.why-item:nth-child(odd){
    flex-direction: row-reverse;
}
.why-image-cont,.why-paragraph-cont{
    height: auto;
    width: 100%;
}
.why-paragraph-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.why-image-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
.why-img{
    height: 80%;
    width: 75%;
    background-position: center;
    background-size: 100% 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(172, 172, 172);
}
.why-img-1{
    background-image: url('decade_exp.jpeg');
}
.why-img-2{
    background-image: url('extra_acts.png');
    box-shadow: none;
    height: 90%;
    
}
.why-img-3{
    background-image: url('dedicated-teahers.jpg');
}
.why-img-4{
    background-image: url('scholarship.jpeg');
}
.why-us-title-cont{
    height: 10vh;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #797878;
}
.numbering{
    height: 6vh;
    width: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secThemeColor);
    margin-right: 6vh;
    font-weight: 600;
}
.title{
    color: var(--secThemeColor);
    font-size: 1.75em;
    font-weight: 600;
}
.why-content{
    color: #4e4e4e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 2vh;
}
.why-content p{
    width: 80%;
    font-size: .9em;
    text-align: justify;
}
/* Why us responsive */
@media(max-width:992px){
    .why-qsn{
        font-size: 2.5em;
    }
    .title{
        font-size: 1.35em;
    }
    .why-content{
        font-size: .85em;
    }
    .why-image-cont{
        height: 50vh;
    }
}
@media(max-width:768px){
    .why-img{
        height: 90%;
        width: 60%;
    }
    .why-qsn{
        font-size: 2em;
    }
    .why-ans{
        width: 85%;
    }
    .why-item{
        flex-direction: column;
    }
    .numbering{
        margin-right: 1vh;
    }
    .why-image-cont{
        height: 65vh;
    }
    .why-item:nth-child(odd){
        flex-direction: column;
    }
    .why-qsn{
        font-size: 1.5em;
    }
}
@media(max-width:576px){
    .why-img{
        width: 80%;
    }
    .why-qsn{
        font-size: 1.5em;
    }
}

/* Message from section */
.msg-from-cont{
    height: 160vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4vh;
    gap: 1vh;
    background-color: rgb(243, 243, 243);
}
.from-chairman-cont,.from-principal-cont{
    height: 80vh;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 1vh;
}
.chairman-img-cont,.principal-img-cont{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chairman-text,.principal-text{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.chairman-img,.principal-img{
    height: 60vh;
}
.msg-from-title{
    color: rgb(59, 59, 59);
    font-size: 1.25em;
    text-align: center;
    border-bottom: 2px solid var(--secThemeColor);
}
.msg{
    color: rgb(49, 49, 49);
    font-size: .9em;
    text-align: justify;
}
/* Message from responsive */
@media(max-width:992px){
    .from-chairman-cont,.from-principal-cont{
        width: 80%;
    }
}

@media(max-width:768px){
    .from-chairman-cont,.from-principal-cont{
        width: 100%;
    }
}
@media(max-width:576px){
    .from-chairman-cont,.from-principal-cont{
        grid-template-columns: none;
        grid-template-rows: repeat(2,1fr);
    }
    .from-principal-cont{
        display: flex;
        flex-direction: column-reverse;
    }
    .chairman-img,.principal-img{
        height: 40vh;
    }
    .msg-from-title{
        margin-top: 2vh;
    }
    .msg{
        margin-top: 5vh;
    }
}

/* Scroll Visibility Animation */
.why-kantipur *, .welcome-wrapper *, .msg-from-cont *{
    opacity: 0; 
    transition: opacity 0.25s ease-in; 
}

.visible {
    opacity: 1;
}
