.nav-btns-cont .nav-btn:nth-child(1){
    background-color: #fff !important;
    color: #000 !important;
}
.nav-btns-cont .nav-btn:nth-child(1):hover{
    background-color: #000 !important;
    color: #fff !important;
}
.nav-btns-cont .nav-btn:nth-child(5){
    background-color: #000;
    color: #fff;
}


.panel-right{
    height: 80vh;
    width: 100%;
    background-color: #fff;
    border-radius: var(--panelRadius);
    padding: var(--panelGap);
    gap: 5vh;
    display: flex;
    flex-direction: column;
}
.config-btns-cont{
    display: flex;
    justify-content: flex-end;
    gap: 2vh;
    font-size: 1.25em;
}